include select2/static/select2/css/*
include select2/static/select2/js/*
include select2/static/select2/select2/*
include LICENSE
include README.rst
include README.md
recursive-include select2/static *